.ScreenDrawer{
    padding-top: 50px;
    text-align: center;

}

.DropdownList{
    padding: 15px 20PX;
    margin: 0px 25px;
    background-color: aliceblue;
    font-style: italic;
    font-size: large;

}

.ScreenDrawer input {
    padding: 15px;
    text-align: center;
    font-size: large;   
    font-style: italic;

}

.ScreenDrawer img {
    
}